.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form{
    width: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    box-shadow: #304ffe25 0px 7px 29px 0px;
}

.form input{
    width:45%;
    /* max-width: 100px; */
    height: 40px;
    padding: 10px;
    border: 2px solid #eaeaea;
    border-radius: 10px;
    color: #304ffe;
    font-size: 1rem;
    margin: 10px;
}
.form button{
    width: calc(100% + 20px);
height: 40px;
margin: 10px 0px;
padding: 10px;
cursor: pointer;
background-color: #304ffe;
border: none;
border-radius: 10px;
font-size: 1rem;
color: #fff;
transition: 0.2s all ease-in-out;
}
.form button:hover{
    box-shadow:#0c2ad487 0px 7px 29px 0px ;
}
.alert{
    width: 100%;
    height: 40px;
    margin: 5px 0 25px;
}
.alert p{
    background-color: #ffebee;
    color: #f44336;
    width: 100%;
    padding:10px ;
    border-radius: 10px;
}
@media(max-width:500px){
    .form input{
    width: 100%;
}}
.form button{
    width: 90%;
}