:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 20px 220px;
  max-width: 1000px;
  min-height: 100vh;
  padding: 10px;

}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}